<html>
<head> <h1>Your destinations </h1></head>

<body>
<h1> Here are your bookings </h1>
<h2> Your stays </h2> 
<% @all_booking_information.each do |bookinginfo| %>
<div>
<h3> <%= bookinginfo.title %> </h3>
<p> <%= bookinginfo.description %> </p>
<p> <label> Price per night </label> <%= bookinginfo.price%> </p>
<p> <label>Booked for: </label> <%= bookinginfo.tempflag %>
<p>Message the owner: </p>
<form action='/messages' method="POST">
  <form action="/messages" method="post">
    <input type="hidden" name="to" value="<%= bookinginfo.user_id %>" readonly>
    <input type="hidden" name="from" value="<%= session[:user_id] %>" readonly>
    <input type="hidden" name="title" id="title" value="About my booking for <%= bookinginfo.title %> on the <%= bookinginfo.tempflag %>" readonly>
    <textarea name="content" id="content"></textarea>
    <input type="submit" value="Send Message">
  </form>
<% end %>



</div>



<hr>


<h1> Here are your listings </h1>
<div>
<% @all_listings.each do |listings| %>
<h2> Your listings <h2>
<h3> <%= listings.title %> </h3>
<p> <%= listings.description %> </p>
<p> <label>Price per night: </label> <%= listings.price %> </p>
<p> <label>Availability start date: </label> <%= listings.start_date %> </p>
<p> <label>Availability end date: </label> <%= listings.end_date %> </p>
<% end %>
</div>

<h1> Here are the requests you need to approve </h1>
<% @all_unapproved.each do |booking|%>
<p>Place booked: <%=@listing_repo.return_listing_name_via_id(booking.listing_id)%> for night of <%=booking.date_booked%> by <%=@user_repo.user_name_by_user_id(booking.user_id)%> </p>
<form action="/accept" method="post">
    <input type="hidden" name="booking_id" value="<%= booking.booking_id %>">
    <input type="submit" value="Accept">
  </form>
  <form action="/deny" method="post">
    <input type="hidden" name="booking_id" value="<%= booking.booking_id %>">
    <input type="submit" value="Deny">
  </form>
<%end%>
<hr>
<form action='/listings'> <input type='submit' value ='Back to listings'/></form>
<button onclick="history.back()">Back</button>
</body>
</html>